.nav {
    --nav-height: 50px;
    height: var(--nav-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    position: sticky;
    top: 0;

    background-color: pink;
    padding: 10px 30px;
}

.nav-left > * {
    margin-right: 20px;
}

a:hover {
    color: red;
}
